/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ============================================================ */

body {
    background-color: #f5f5f5;
    font-family: "Noteworthy";
    background: url("./img/bg_repeat.jpg");
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    max-width: 1420px;
    margin: 0 auto;
    background-color: #f5e0df;
}

.header {
    background-color: #e77d91;
}

.header .container {
    max-width: 1800px;
}

.header__title {
    font-size: 100px;
    font-family: "Once in a while";
    color: #fdf9f9;
    text-align: center;
}

.header__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 200px;
    justify-content: space-between;
}

.header__logo {
    width: 200px;
}
.header__logo img {
    width: 100%;
    height: 100%;
}

.lang {
    position: relative;
    color: #fdf9f9;
    font-size: 30px;
}

.lang__button {
    padding: 10px;
    border: 1px solid #fdf9f9;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: 0.4s;
}

.lang__button:hover {
    background-color: #ffb2b2;
}

.lang__list {
    position: absolute;
    padding-right: 100px;
    padding-top: 80px;
    left: -100px;
    top: -10px;
    z-index: 1;
    border-radius: 25px;
    border: 2px solid #ff8da8;
    transition: 0.5s;
    background-color: #ff9fb5;
    opacity: 0;
    pointer-events: none;
}

.lang__list li a{
    color: #ffd6dd;
    text-decoration: none;
}

.lang__list li a:hover {
    text-decoration: underline;
    color: #fff2f4;
}

.lang__list.active {
    opacity: 1;
    pointer-events: all;
}

/* ======================================================== */

ul li {
    position: relative;
    padding-left: 30px;
}

ul li::before {
    content: "♡";
    position: absolute;
    top: 0;
    left: 0;
}

ol {
    padding-left: 30px;
}

/* ======================================================== */

.tool {
    padding: 40px 0 0px;
}

.tool__title {
    margin-bottom: 20px;
}

/* Style the list items */
.tool__list li {
    cursor: pointer;
    position: relative;
    padding-left: 0;
    padding: 25px;
    padding-left: 50px;
    background: #eee;
    font-size: 25px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tool__list li::before {
    content: '';
}

/* Set all odd list items to a different color (zebra-stripes) */
.tool__list li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.tool__list li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.tool__list li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.tool__list li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 30px;
    left: 20px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.tool__tool {
    padding: 30px 0px;
    color: white;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

/* Clear floats after the header */
.tool__tool:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
.tool__input {
    width: 80%;
    padding: 10px;
    font-size: 25px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    flex-grow: 1;
    /* border: 1px solid #000; */
}

.addBtn:hover {
    background-color: #bbb;
}

/* =============================================================================== */

.intro {
    padding: 70px 0px 40px;
}

.intro__text {
    margin-top: 20px;
}

.title {
    font-size: 50px;
    color: #1c1839;
    line-height: 60.51px;
    font-family: "Marker Felt";
}

.subtitle {
    font-size: 30px;
    color: #1c1839;
}
.text {
    color: #1c1839;
    font-size: 22px;
}
.intro__image {
    max-width: 700px;
    margin: 30px auto 30px;
}
.options__title {
    margin-top: 30px;
    margin-bottom: 10px;
}
.options__list li {
    line-height: 2.6;
}
.steps__title {
    margin-top: 15px;
    margin-bottom: 10px;
}
.steps__list li {
    line-height: 1.8;
    margin-bottom: 20px;
}

.steps__list li:nth-child(5) {
    margin-bottom: 10px;
}

.steps__list ul li {
    line-height: 1.8;
}

/* ========================================================================= */

.tips {
    padding: 0 0 50px;
}

.tips__title {
    margin-bottom: 20px;
}

.tips__list li {
    margin-bottom: 20px;
}

.tips__list li:last-child {
    margin: 0;
}

.tips__list li:last-child .tips__image {
    margin-bottom: 0;
}

.tips__image {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ===================================================================================== */

.footer {
    background-color: #e77d91;
    padding-bottom: 15px;
    text-align: center;
    font-size: 22px;
}

.footer .container {
    max-width: 1240px;
    height: 200px;
}

.footer__row {
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.footer__elem {
    flex: 1 1 50%;
    color: #fff;
    margin-right: 40px;
}

.footer__elem:last-child {
    margin: 0;
}

.footer__data {
    color: #fff;
    text-align: center;
    width: 100%;
}

/* =================================================== */

.conclusion {
    padding: 10px 0px 50px;
}

.conlusion__title {
    margin-bottom: 20px;
}

.conlusion__text {
    margin-top: 20px;
    margin-bottom: 35px;
}

.conclusion__elem {
    width: 100%;
    text-align: center;
}

.references {
    font-size: 25px;
}

/* ======================================================== */

@media (max-width: 1512px) {
    .content {
        max-width: 1100px;
    }

    .container {
        max-width: 900px;
    }

    .header__title {
        font-size: 80px;
    }
    .header__row {
        height: 150px;
    }
    .header__logo {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 1250px) {
    .content {
        max-width: 900px;
    }

    .container {
        max-width: 700px;
    }

    .header__title {
        font-size: 50px;
    }
    .header__row {
        height: 120px;
    }
    .header__logo {
        width: 80px;
        height: 80px;
    }
    .header .container {
        max-width: 900px;
    }
    .intro {
        padding-top: 20px;
    }
}

@media (max-width: 832px) {
    .content {
        max-width: 700px;
    }
    .container {
        max-width: 500px;
    }
}

@media (max-width: 770px) {
    .header__title {
        font-size: 35px;
    }
    .header__row {
        height: 70px;
    }
    .header__logo {
        width: 50px;
        height: 50px;
    }

    .title {
        font-size: 35px;
    }
    .subtitle {
        font-size: 25px;
    }
    .text {
        font-size: 18px;
    }
    
    .lang {
        font-size: 18px;
    }

    .lang__list {
        font-size: 24px;
        padding-left: 20px;
        padding-top: 30px;
        padding-right: 80px;
    }
    .tool {
        padding-top: 10px;
    }
    .tool__title {
        margin-bottom: -10px;
    }
}

@media (max-width: 570px) {
    .header__title {
        text-align: right;
        font-size: 30px;
    }

    .footer__elem {
        margin-right: 15px;
    }
    .footer .container {
        height: 150px;
    }
    .footer {
        font-size: 15px;
    }
    .lang {
        font-size: 14px;
    }
}

@media (max-width: 475px) {
    .header__title {
        font-size: 25px;
    }
    .header__logo {
        width: 40px;
        height: 40px;
    }
    .header__row {
        height: 50px;
    }
    .intro {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .intro__text {
        margin-top: 5px;
    }
    .title {
        font-size: 25px;
    }
    .subtitle {
        font-size: 21px;
    }
    .text {
        font-size: 17px;
    }
    .options__list li {
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .steps__list li {
        margin-bottom: 10px;
    }
    .tips {
        padding-bottom: 15px;
    }
    .tips__title {
        margin-bottom: 5px;
    }
    .conlusion__title {
        margin-bottom: 5px;
    }
    .lang {
        font-size: 10px;
    }
}

@media (max-width: 390px) {
    .header__title {
        font-size: 20px;
    }
    .header__logo {
        width: 35px;
        height: 35px;
    }
    .footer__elem {
        margin-right: 5px;
    }
    .footer .container {
        padding: 0 5px;
    }
    .lang {
        font-size: 8px;
    }
}
